h1{
    margin: 0;
    color: rgb(255,255,255);
}
p{
    margin: 0;
}
body{
    margin: 0;
}

header{
    margin-bottom: 20px;
    background-color: rgb(244,79,79);
    text-align: center;
}