#top{
    width: 800px;
    background-color: #dcc9f4;
    margin: 20px auto;
    text-align: center;
}
.top-child{
    width: 20%;
    background-color: #ffd9df;
    display: inline-block;
}

#middle{
    width: 800px;
    height: 800px;
    margin: 20px auto;
    background-color: #ffd9df;
}
#middle-child01{
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
}
#middle-child02{
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
}
#middle-child03{
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
}